// This file may be used for providing additional customizations to the Trestle
// admin. It will be automatically included within all admin pages.
//
// For organizational purposes, you may wish to define your customizations
// within individual partials and `import` them here, e.g.
//
//    @import "trestle/custom/my_custom_css";
//

@use "sass:math";

.poster-column {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.media-title-column {
  min-width: 15em;

  a {
    white-space: normal;

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  small {
    display: block;
  }
}

.poster {
  display: inline-block;
  height: 50px;
  max-width: none;
}

.media-grid {
  figure.aspect-ratio-16x9 {
    padding-bottom: percentage(math.div(9, 16));
  }
}
