# Name of your application. Used to uniquely configure containers.
service: railsflix

# Name of the container image.
# image: trestle/railsflix

# Deploy to these servers.
servers:
  web:
    - 192.168.0.1

# Enable SSL auto certification via Let's Encrypt (and allow for multiple apps on one server).
# Set ssl: false if using something like Cloudflare to terminate SSL (but keep host!).
# proxy:
  # ssl: true
  # host: demo.trestle.io

# Credentials for your image host.
# registry:
#   server: registry.digitalocean.com
#   username:
#     - KAMAL_REGISTRY_PASSWORD
#   password:
#     - KAMAL_REGISTRY_PASSWORD

# Configure builder setup.
# builder:
#   arch: amd64
#
#   # Build image via remote server (useful for faster amd64 builds on arm64 computers)
#   remote: ssh://deploy@192.168.0.1

# Inject ENV variables into containers (secrets come from .kamal/secrets).
env:
  secret:
    - RAILS_MASTER_KEY
    - POSTGRES_PASSWORD
    - TMDB_API_KEY

  clear:
    DB_HOST: railsflix-db

# Aliases are triggered with "bin/kamal <alias>". You can overwrite arguments on invocation:
# "bin/kamal logs -r job" will tail logs from the first server in the job section.
aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"

# Use a persistent storage volume for sqlite database files and local Active Storage files.
# Recommended to change this to a mounted volume path that is backed up off server.
volumes:
  - "storage:/rails/storage"

# Bridge fingerprinted assets, like JS and CSS, between versions to avoid
# hitting 404 on in-flight requests. Combines all files from new and old
# version inside the asset_path.
asset_path: /rails/public/assets

# Use a different ssh user than root
# ssh:
#   user: deploy

accessories:
  db:
    image: postgres:16
    roles:
      - web
    port: "127.0.0.1:5432:5432"
    env:
      clear:
        POSTGRES_USER: railsflix
        POSTGRES_DB: railsflix
      secret:
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data
