<h3>Videos</h3>

<ul class="media-grid" data-behavior="video-gallery">
  <% instance.videos.select(&:thumbnail?).each do |video| %>
    <li>
      <figure class="fill zoom aspect-ratio-16x9">
        <%= link_to image_tag(video.thumbnail), video.url %>
      </figure>
    </li>
  <% end %>
</ul>

<h3>Posters</h3>

<ul class="media-grid" data-behavior="gallery">
  <% instance.images.posters.each do |image| %>
    <li>
      <figure class="zoom">
        <%= link_to image_tag(image.url("w500")), image.url %>
      </figure>
    </li>
  <% end %>
</ul>

<h3>Backdrops</h3>

<ul class="media-grid" data-behavior="gallery">
  <% if instance.backdrop? %>
    <li>
      <figure class="fill zoom aspect-ratio-16x9">
      <%= link_to image_tag(instance.backdrop_url("w780")), instance.backdrop_url %>
      </figure>
    </li>
  <% end %>

  <% instance.images.backdrops.each do |image| %>
    <li>
      <figure class="fill zoom aspect-ratio-16x9">
        <%= link_to image_tag(image.url("w780")), image.url %>
      </figure>
    </li>
  <% end %>
</ul>
